.menu{
    display:inline-block;
    margin: 5%;
}
.option{
    /* display: inline-grid; */
    margin: 5%;
}
.PA{
    display: inline-flex;
    /* margin-left: 26%; */
}
.btn {
    color: #fff;
    background-color: #f7d520
;
    border-color: #f7d520
;
    color: black;
    margin: 20px;
   height: fit-content;
}
.btn:hover{
    color: #fff;
}
.navs{ 
    background-color: #f7d520
;
    color:#000000;
    border-color: #f7d520
;
   


 
}
.navs1{
    display:inline;
}
.navs:hover{
    color: #ffffff;
}

.details{
    text-align: right;
    direction: rtl;
    font-size: 10px;
}
/* .form-control{
    value:15;
} */