.schaduller {
    width: fit-content;
}

.calender {
    border-color: blue;
}

/* .box{
    color:aqua
}
.box:hover{
    color: blue;
} */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #060708 !important;
}

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #f7d520 !important;
}

.tabs {
    color: #060708 !important;
    font-family:'Varela Round' !important;
    font-size: 16px ;
    margin-top: 2%;
}
.tab{
    font-family:'Varela Round' !important;
    font-size: 12px ;
}

.tab:hover {
    /* background-color: #f7d520; */
    color: #060708 !important;
    font-family:'Varela Round' !important;
    


}
.react-calendar{
    font-family:'Varela Round', sans-serif !important;
    border-radius: 10%;
    font-size: 12px;
    font-weight: 400;
    margin: inherit;
    padding: 2%;
    
}

/* כיתוה השנה */
.react-calendar__navigation__label__labelText{
    font-size: 20px !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected abbr{
    font-family:'Varela Round', sans-serif !important ;
    font-size: small !important;
}
.calender{
    font-family:'Varela Round', sans-serif !important ;

}
.react-calendar__tile--active  {
    background: #f7d520 !important;
    color: white;
    border-radius: 30% !important;

}
react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #f7d520 !important;
}

.react-calendar__month-view__days__day--weekend {
    background: #d10000 !important;
    color: white !important;
    border-radius: 30% !important;
}

.react-calendar__tile--now {
    background: #517ef9 !important ;
    border-radius: 30% !important;
    color: white !important;

}

.blogo{
    width: 265px;
    
}

