.input{
    border-color: black;
    width: 30px;
    height: 7px;

}
.border{
    border-color: #fce304;
    /* width: 40%; */
    border-width: 15px;
    height: auto;
    box-shadow: 2px 2px 2px #918f85;
    border-radius: 5%;
    /*
    padding-right: 40px;
    padding-left: 40px; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    

}
.btn {
    color: #fff;
    background-color: #fce304;
    border-color: #fce304;
    color: black;
    margin: 20px;
   height: fit-content;
}

.btn:hover{
    color: #fff;
}

.a{
    width: 200px;
    direction: rtl;
    

}
.ForgetPassword{
    font-size:  13.5px;;
    text-align: left;
    margin-top: 5px;
}
.FP{
    direction: ltr;
    text-align: left;
    
}.FP:hover{
    text-decoration: none;
}
